* {
    box-sizing: border-box;
{

img {
    max-width: 100;

}
body {
    background-color: #e1e1e0;
}   
 #dossier-cards {
.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
 }
.card {
    background-color: #fff;
    width: 100;
    border: solid 1px black;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.5rem 0.25rem rgba(0,0,0,0.33)
    padding-bottom: 1rem;
    transition: all ease-in-out 300ms;
}    
 padding-bottom: 1rem;
    & h3

.card > img {
    border-radius: 1rem 1rem 0 0;
}

.card h3,
.card p,
.card a {
    padding: 0 1 rem 0.5rem;

}

}
& *:not(img) {
    margin
}
 }
